a{
  text-decoration: none;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

.homepage{
  display: flex;
  flex-direction: column;
  justify-content: center;  /* center horizontally */
  align-items: center; /* center vertically */ 
  height: 90vh;
  width: 100vw;
}

.linkpage{
  display: flex;
  flex-direction: column;
  /*position: absolute;*/
  /*top: 50%;
  left: 40%;
  transform: translate(-40%, -50%);*/
  padding: 10px; 
  max-width: 700px;
  max-height: 80vh;
}

.projectpage{
  display: flex;
  flex-direction: column;
  margin: 0 auto 0 auto;
  padding: 10px;
  max-width: 700px;
  height: 80vh; 
}

body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.title{
  text-align: center;
  font-family: menlo;
  font-size: 55px;
}

.links{
  text-align: center; 
  font-family: menlo;
  font-size: 23px;
}

.about-title{
  text-align: left;
  font-family: menlo;
  font-size: 50px;
  margin-bottom: 10px; 
  color: #17c3b2; 
}

.projects-title{
  text-align: left;
  font-family: menlo;
  font-size: 50px;
  margin-bottom: 10px; 
  color: #fe6d73;
}

.research-title{
  text-align: left;
  font-family: menlo;
  font-size: 50px;
  margin-bottom: 10px; 
  color: #227c9d;
}

.page-body{
  text-align: left;
  font-family: helvetica;
  font-size: 17px; 
}

.home{
  text-align: left;
  font-family: menlo;
  font-size: 20px;
}

.images{
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 370px;
}